[submodule "deepracer"]
	path = deepracer
	url = https://github.com/crr0004/deepracer.git
[submodule "aws-deepracer-workshops"]
	path = aws-deepracer-workshops
	url = https://github.com/breadcentric/aws-deepracer-workshops.git
	branch = enhance-log-analysis

