version: '3.7'

networks:
  default:
    external: true
    name: sagemaker-local

services:
  rl_coach:
    image: awsdeepracercommunity/deepracer-rlcoach:${DR_COACH_IMAGE}
    command: ["/bin/bash", "-c", "echo No work for coach in Evaluation Mode"]
  robomaker:
    image: awsdeepracercommunity/deepracer-robomaker:${DR_ROBOMAKER_IMAGE}
    command: ["${ROBOMAKER_COMMAND}"]
    ports:
      - "${DR_ROBOMAKER_EVAL_PORT}:8080"
    environment:
      - CUDA_VISIBLE_DEVICES=${DR_ROBOMAKER_CUDA_DEVICES:-}
      - DEBUG_REWARD=${DR_EVAL_DEBUG_REWARD}
      - WORLD_NAME=${DR_WORLD_NAME}
      - NUMBER_OF_TRIALS=${DR_NUMBER_OF_EPISODES}
      - MODEL_S3_PREFIX=${DR_LOCAL_S3_MODEL_PREFIX}
      - MODEL_S3_BUCKET=${DR_LOCAL_S3_BUCKET}      
      - APP_REGION=${DR_AWS_APP_REGION}
      - S3_YAML_NAME=${DR_CURRENT_PARAMS_FILE}
      - KINESIS_VIDEO_STREAM_NAME=${DR_KINESIS_STREAM_NAME}
      - ENABLE_KINESIS=${DR_CAMERA_KVS_ENABLE}
      - ENABLE_GUI=${DR_GUI_ENABLE}
      - ROLLOUT_IDX=0
      - RTF_OVERRIDE=${DR_EVAL_RTF:-}
      - ROS_MASTER_URI=http://localhost:11311/
      - ROS_IP=127.0.0.1
      - GAZEBO_ARGS=${DR_GAZEBO_ARGS:-}
      - TELEGRAF_HOST=${DR_TELEGRAF_HOST:-}
      - TELEGRAF_PORT=${DR_TELEGRAF_PORT:-}
    init: true